mixin footer()
  footer.footer(id='contacts')
    div.footer__wrap
      h2.visually-hidden Contacts
      div.sources
        h3.visually-hidden Find me on other platforms
        ul.sources-list
          li.sources-list__item
            a.sources-list__link(href='itms://music.apple.com/us/artist/wooden-coyote/1441918533') Listen on Apple Music
              picture
                source(type='image/webp', srcset='img/apple-music.webp')
                img.about-me__picture(src='img/apple-music.png', alt='Apple Music logo')
          li.sources-list__item
            a.sources-list__link(href='deezer://www.deezer.com/artist/54062772') Listen on Deezer
              picture
                source(type='image/webp', srcset='img/deezer.webp')
                img.about-me__picture(src='img/deezer.png', alt='Deezer logo')
          li.sources-list__item
            a.sources-list__link(href='spotify:artist:708W3kU9R6NMpX2MFzpb22') Listen on Spotify
              picture
                source(type='image/webp', srcset='img/spotify.webp')
                img.about-me__picture(src='img/spotify.png', alt='Spotify logo')
          li.sources-list__item
            a.sources-list__link(href='soundcloud://users:jesse-white-952049199') Listen on SoundCloud
              picture
                source(type='image/webp', srcset='img/soundcloud.webp')
                img.about-me__picture(src='img/soundcloud.png', alt='SoundCloud logo')
          li.sources-list__item
            a.sources-list__link(href='https://assetstore.unity.com/publishers/40368') Available on Asset Store
              picture
                source(type='image/webp', srcset='img/asset-store.webp')
                img.about-me__picture(src='img/asset-store.png', alt='Asset Store logo')

      div.contacts
        h3.visually-hidden Contact me
        ul.contacts-list
          li.contacts-list__item
            a.contacts-list__link.contacts-list__link--telegram(href='https://web.telegram.org/#/im?p=@foaxdev') Telegram
            svg(enable-background='new 0 0 24 24' viewbox='0 0 24 24' width='30' height='30' xmlns='http://www.w3.org/2000/svg')
              circle(cx='12' cy='12' fill='#039be5' r='12')
              path(d='m5.491 11.74 11.57-4.461c.537-.194 1.006.131.832.943l.001-.001-1.97 9.281c-.146.658-.537.818-1.084.508l-3-2.211-1.447 1.394c-.16.16-.295.295-.605.295l.213-3.053 5.56-5.023c.242-.213-.054-.333-.373-.121l-6.871 4.326-2.962-.924c-.643-.204-.657-.643.136-.953z' fill='#fff')
          li.contacts-list__item
            a.contacts-list__link.contacts-list__link--facebook(href='https://www.facebook.com/woodencoyote') Facebook
            svg(width='30' height='30' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewbox='0 0 112.196 112.196' style='enable-background: new 0 0 112.196 112.196;' xml:space='preserve')
              g
                circle(style='fill: #3b5998;' cx='56.098' cy='56.098' r='56.098')
                path(style='fill: #ffffff;' d='M70.201,58.294h-10.01v36.672H45.025V58.294h-7.213V45.406h7.213v-8.34 c0-5.964,2.833-15.303,15.301-15.303L71.56,21.81v12.51h-8.151c-1.337,0-3.217,0.668-3.217,3.513v7.585h11.334L70.201,58.294z')
        a.contacts__link(href='mailto:en.morgenstern@gmail.com') en.morgenstern@gmail.com

      div.donation
        //donation
