mixin header()
  header.header
    div.header__wrap
      a.header__logo(href='/')
        picture
          source(type='image/webp' media='(min-width: 768px)' srcset='img/logo-small-desktop.webp')
          source(type='image/webp' srcset='img/logo-small-mobile.webp')

          source(media='(min-width: 768px)' srcset='img/logo-small-desktop.png')
          img.header__image(src='img/logo-small-mobile.png' alt='Logotype Mokusei no Maguro music')
        span.header__title Mokusei no Maguro music
      button.header__toggle(type='button') Open or close menu
      - let menu = { 'listen': 'Listen', 'download': 'Download', 'contacts': 'Contacts' };
      ul.menu-list
        each menuName, menuId in menu
          li.menu-list__item
            a.menu-list__link(href='#' + menuId)= menuName
