mixin main()
  main
    h1.visually-hidden Wooden Coyote Free Music
    section.listen(id='listen')
      div.listen__wrap
        h2.heading.listen__header Music
        ul.listen__list.playlists-list
          li.playlists-list__item
            iframe.playlists-list__iframe(allow='autoplay' src='https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/719659770&color=%23ff9900&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true')
          li.playlists-list__item
            iframe.playlists-list__iframe(allow='autoplay' src='https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/667205940&color=%23ff9900&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true')
          li.playlists-list__item
            iframe.playlists-list__iframe(allow='autoplay' src='https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/842603069&color=%23ff9900&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true')
          li.playlists-list__item
            iframe.playlists-list__iframe(allow='autoplay' src='https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/781530504&color=%23ff9900&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true')

    section.download(id='download')
      div.download__wrap
        h2.heading.download__header Free bundles for download
        ul.download__list.download-list
          li.download-list__item
            picture
              source(type='image/webp' srcset='img/electronic-bundle-cover.webp')
              img.download-list__picture(src='img/electronic-bundle-cover.png' alt='Electronic bundle cover')
            a.download-list__link(href='/download/electronic-pop-rock.rar' download) Get it
          li.download-list__item
            picture
              source(type='image/webp' srcset='img/horror-bundle-cover.webp')
              img.download-list__picture(src='img/horror-bundle-cover.png' alt='Horror bundle cover')
            a.download-list__link(href='/download/horror-bundle.rar' download) Get it
          li.download-list__item
            picture
              source(type='image/webp' srcset='img/orchestral-bundle-cover.webp')
              img.download-list__picture(src='img/orchestral-bundle-cover.png' alt='Orchestral bundle cover')
            a.download-list__link(href='/download/orchestral-style-bundle.rar' download) Get it
          li.download-list__item
            picture
              source(type='image/webp' srcset='img/rock-bundle-cover.webp')
              img.download-list__picture(src='img/rock-bundle-cover.png' alt='Rock bundle cover')
            a.download-list__link(href='/download/rock-post-punk-bundle.rar' download) Get it

