.donation {
  display: none;
}

@media (min-width: $tablet-width) {
  .donation {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    order: 2;

    @supports (display: grid) {
      grid-area: 2 / 2 / 4 / 3;
      align-self: end;
    }
  }

  .donation__link {
    display: block;
    padding: 7px 10px;
    margin-right: 20px;

    font-size: 14px;
    color: $black;
    text-transform: uppercase;

    background-color: $orange;

    &:hover,
    &:focus {
      outline: none;
      background-color: $white;
    }

    &:active {
      color: $orange;
    }
  }

  .donation__note {
    font-size: 14px;
    color: $orange;
  }
}
