.donation {
  display: none;
}

@media (min-width: $tablet-width) {
  .donation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;

    @supports (display: grid) {
      grid-area: 2 / 2 / 4 / 3;
      align-self: end;
    }
  }

  .donation__link {
    display: block;
    padding: 7px 10px;

    font-size: 14px;
    color: $black;
    text-transform: uppercase;

    background-color: $orange;
  }

  .donation__note {
    font-size: 14px;
    color: $orange;
  }
}

@media (min-width: $desktop-width) {
  .donation {
    justify-content: flex-start;
  }

  .donation__link {
    margin-right: 20px;
  }
}
