.download {
  width: 100%;
}

.download__wrap {
  display: flex;
  flex-direction: column;
  padding: 0 20px;

  @supports (display: grid) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 15px;
    align-items: end;
  }
}

.download__header {
  max-width: 250px;
  align-self: center;
  justify-self: center;

  @supports (display: grid) {
    grid-area: 1 / 1 / 2 / 2;
    align-self: center;
  }
}

.download__list {
  @supports (display: grid) {
    grid-area: 2 / 1 / 10 / 2;
  }
}

@media (min-width: $tablet-width) {
  .download__wrap {
    padding: 0 30px;

    @supports (display: grid) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(10, 1fr);
      grid-column-gap: 0;
      grid-row-gap: 30px;
    }
  }

  .download__header {
    max-width: 100%;

    @supports (display: grid) {
      grid-area: 1 / 1 / 4 / 2;
    }
  }

  .download__list {
    @supports (display: grid) {
      grid-area: 4 / 1 / 11 / 2;
    }
  }
}

@media (min-width: $desktop-width) {
  .download__wrap {
    margin: 0 auto;
    width: 1280px;
  }
}
