.header {
  width: 100%;
  background-color: $orange;
}

.header__wrap {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__image {
  margin-right: 15px;
}

.header__title {
  font-size: 16px;
  color: $black;
  font-weight: 700;
}

.header__toggle {
  @include hide-text();
  display: none;

  background-color: transparent;
  background-image: url("../img/menu-open.svg");
  background-repeat: no-repeat;
  background-size: 30px;
  border: none;

  &--open,
  &--close {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .header__wrap {
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 30px;
  }

  .header__toggle,
  .header__toggle--open,
  .header__toggle--close {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .header__wrap {
    margin: 0 auto;
    width: 1280px;
  }
}
