.header {
  width: 100%;
  background-color: $orange;
}

.header__wrap {
  position: relative;

  display: flex;
  flex-direction: column;
  padding: 20px;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__image {
  margin-right: 15px;
}

.header__title {
  font-size: 16px;
  color: $black;
  font-weight: 700;
}

.header__toggle {
  @include hide-text();
  position: absolute;
  top: 23px;
  right: 20px;

  display: none;
  width: 30px;
  height: 30px;

  background-color: transparent;
  background-image: url("../img/menu-open.svg");
  background-repeat: no-repeat;
  background-size: 30px;
  border: none;

  &--open,
  &--close {
    display: block;
  }

  &--close {
    background-image: url("../img/menu-close.svg");
  }

  &:focus {
    outline: none;
  }
}

@media (min-width: $tablet-width) {
  .header__wrap {
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 30px;
  }

  .header__toggle,
  .header__toggle--open,
  .header__toggle--close {
    display: none;
  }

  .header__title {
    font-size: 20px;
  }
}

@media (min-width: $desktop-width) {
  .header__wrap {
    margin: 0 auto;
    width: 1280px;
  }

  .header__title {
    font-size: 24px;
  }
}
