.listen {
  width: 100%;
}

.listen__wrap {
  display: flex;
  flex-direction: column;
  padding: 0 20px;

  @supports (display: grid) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(18, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 20px;
    align-items: end;
  }
}

.listen__header {
  @supports (display: grid) {
    grid-area: 1 / 1 / 2 / 2;
  }
}

.listen__list {
  @supports (display: grid) {
    grid-area: 2 / 1 / 19 / 2;
  }
}

@media (min-width: $tablet-width) {
  .listen__wrap {
    padding: 0 30px;
    @supports (display: grid) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(9, 1fr);
      grid-column-gap: 0;
      grid-row-gap: 30px;
    }
  }

  .listen__list {
    @supports (display: grid) {
      grid-area: 2 / 1 / 10 / 2;
    }
  }
}

@media (min-width: $desktop-width) {
  .listen__wrap {
    margin: 0 auto;
    width: 1280px;

    @supports (display: grid) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(10, 1fr);
      grid-column-gap: 0;
      grid-row-gap: 30px;
    }
  }

  .listen__header {
    @supports (display: grid) {
      grid-area: 1 / 1 / 3 / 2;
    }
  }

  .listen__list {
    @supports (display: grid) {
      grid-area: 3 / 1 / 11 / 2;
    }
  }
}
