.playlists-list {
  @include list-reset();

  @supports (display: grid) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 15px;
  }
}

.playlists-list__item {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.playlists-list__iframe {
  width: 100%;
  min-height: 410px;
  border: none;
}

@media (min-width: $tablet-width) {
  .playlists-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    @supports (display: grid) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 20px;
      grid-row-gap: 20px;
    }
  }

  .playlists-list__item {
    width: 48%;

    @supports (display: grid) {
      width: unset;
    }
  }
}

@media (min-width: $desktop-width) {
  .playlists-list {
    @supports (display: grid) {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr;
      grid-column-gap: 20px;
      grid-row-gap: 0;
    }
  }

  .playlists-list__iframe {
    min-height: 500px;
  }

  .playlists-list__item {
    width: 24%;

    @supports (display: grid) {
      width: unset;
    }
  }
}
