html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;

    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 400;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

.svg-template {
    display: none;
}
